body {
    font-family: 'Archivo Narrow', sans-serif;
    margin: 0;

}

h1 {
    font-size: 70px;
}

.blue {
    color: aqua;

}

.flex {
    display: flex;
    margin-bottom: 200px;
}

.half {
    width: 50%;
    padding-left: 5%;
}

.half img {
    width: 80%;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(aqua, rgb(199, 243, 243));
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px;
}

.banner {

    background-repeat: no-repeat;
}

.exp {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#text1 {
    text-align: justify;
}

.dev2 {
    width: 50%;
    box-shadow: 10px 5px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
}

#color1 {
    border-left: 7px solid tomato;
}

#color2 {
    border-left: 7px solid blue;
}

#padding {
    padding-right: 20px;
}

#bit {
    padding-left: 125px;
}