body {
    font-family: 'Archivo Narrow', sans-serif;
    margin: 0;

}

h1 {
    font-size: 70px;
    width: 10px;
}

#blue {
    color: aqua;

}

section {
    display: flex;
}

.half {
    width: 50%;
    padding-left: 5%;
}

.half img {
    width: 80%;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(aqua, rgb(199, 243, 243));
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px;
}

#banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}